body {
	background:#637DDA;
	background:url('img/flores.jpg');
	background-repeat:repeat;
	/*background-size:50%;*/
	background-attachment:scroll;
	/*background-position: 50px 200px;*/
	
}

/*.fondo {
	width:600px;
	height:600px;
	background: url('img/bg.jpg') #000;
	background-repeat: no-repeat;
	background-size:50%;
} */


p {
	color:blue;
}
